.card-step.card-detail{
  z-index: 999;
  .content{
    padding: 10px;
  }

  .collection{
    margin: 10px;
  }

  .view-control{
    background: $appThemeColor;
    color: $w;
    font-size: 2rem;
    padding: 10px;
    height: auto;
    position: relative;
    margin-bottom: 10px;
    .one{
      left: 10px;
      width: 60%;
      color: $w;
      font-size: 1.5rem;
      text-align: left;
    }
    .three{
      transform: perspective(1px) translateY(-50%);
      top: 50%;
      color: $w;
      i{color: $w; font-size: 1.2rem;}
    }
  }
}
