<section id="{{_UID_}}" class="card-section row animated zoomIn">

<!--    <ul class="tabs row">
        <li class="tab col s4"><a href="#cardsView"></a></li>
        <li class="tab col s4"><a href="#cardDetail"></a></li>
        <li class="tab col s4"><a href="#cardEdit"></a></li>
    </ul>

    <div id="cardsViewBtn" class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large i-settings"></i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="i-add"></i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="i-bars"></i></a></li>
            <li><a class="btn-floating green"><i class="i-tiles"></i></a></li>
        </ul>
    </div>

    <div id="cardDetailBtn" class="fixed-action-btn hidden">
        <a class="btn-floating btn-large red">
            <i class="i-settings"></i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="i-edit"></i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="i-trash"></i></a></li>
        </ul>
    </div>-->

</section>

