<div id="learnMore" class="col s12 start-step">
    <div class="content">
        <h3>Introducing Deets</h3>
        <h4 style="margin-bottom: 10px;">The easiest way to share your contact details, period!</h4>
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/XPCdJycf6-s?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
        <ul style="margin-top: 10px; margin-bottom: 10px" class="collection with-header">
            <li class="collection-header"><h4>Here's how simple it is!</h4></li>
            <li class="collection-item">A person takes a picture of your lock screen</li>
            <li class="collection-item">Texts it to 78 789​</li>
            <li class="collection-item">In seconds they get your contact details</li>
        </ul>

        <h4>Go ahead and try it! Take a picture or screen grab bellow and text it to 78 789.</h4>

        <img id="learnMoreImg">
        <div class="col s12 right-align actions-wrapper">
            <a class="waves-effect waves-light btn skip-btn left-align"><i class="i-skip left hidden"></i>Skip Tutorial</a>
            <a class="waves-effect waves-light btn why-btn right-align"><i class="i-learn left hidden"></i>Why Deets?</a>
        </div>
    </div>
</div>