<div id="welcome" class="col s12 start-step">
    <div class="content">
        <img id="welcomeImg">
        <h3>Welcome to Deets!</h3>
        <h4>Meet The New Business Card: Your Lock Screen</h4>
        <p>Did you know that 88% of business cards are thrown out before their data is ever captured.​ Yes, even yours.</p>
        <div class="col s12 right-align actions-wrapper">
            <a class="waves-effect waves-light btn skip-btn left-align"><i class="i-skip left hidden"></i>Skip Tutorial</a>
            <a class="waves-effect waves-light btn learn-btn right-align"><i class="i-learn left hidden"></i>Learn More</a>
        </div>
    </div>
</div>