<div id="whyDeets" class="col s12 start-step">
    <div class="content">
        <h3>Why use Deets?</h3>
        <h4>Because it makes your life easier</h4>
        <img id="img1">
        <h4>You Already Have It</h4>
        <p>All you need is the camera & texting app you already use.</p>
        <img id="img2">
        <h4>Super Fast</h4>
        <p>In the time it takes you to read this, you could have already tried it.</p>
        <img id="img3">
        <h4>You're In Control</h4>
        <p>You can use any picture you want for your lock screen.</p>

        <div class="col s12 right-align actions-wrapper">
            <a class="waves-effect waves-light btn skip-btn right-align"><i class="i-skip left hidden"></i>Finish Tutorial</a>
        </div>

    </div>
</div>